.header-row{
    background-color: blueviolet;
    color: cornsilk;
}
.style-one{
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer-style
{
    padding-top: 5%;
    background-color: #C3B7C7 ;
}
.style-pad{
    padding-bottom: 5%;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: rgb(9, 2, 24);
}
